<main>
    <img src="<%= data.photo || '' %>" alt="">
    <p><%= data.name %></p>
    <p><%= data.email %></p>
    <p><%= data.phone %></p>
    <p><%= data.address %></p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                
            </div>
        </div>
    </div>  
</main>